################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

.vs/*
.git/*
SCRRS Installer/bin/*
SCRRS Installer/obj/*
